<section class="container-fluid bg-light">
  <div class="row pt-5">
      <div class="col">
          <div class="card text-white bg-warning w-100 mt-5 shadow">
              <div class="card-header">Oops!</div>
              <div class="card-body">
                <h5 class="card-title">Page not found</h5>
                <p class="card-text">Hmm...looks like the requested page cannot be found. Why don't you try these other lovely pages :)</p>
              </div>
          </div>
      </div>
    </div>      
</section>
