<div class="wrapper">
  <section id="Main-Menu">
      <div id="menuToggle">
        <button [@menuToggle] = "isOpen ? 'slideMenuButtonRight' : 'slideMenuButtonBack'"
           (click)="toggleMenu()" class="btn btn-outline-success">
          <i [@menuToggle] = "isOpen ? 'menuOpen' : 'menuClosed'" class="material-icons" title="Toggle Navigation">keyboard_arrow_right</i>
          <i [@menuToggle] = "isOpen ? 'menuClosed' : 'menuOpen'" class="material-icons">keyboard_arrow_right</i>
        </button>
      </div> 
      
        <ul id="menu" [@menuToggle]="isOpen ? 'open' : 'close'" class="nav"> 
            <a class="menubar-brand" href="/">Grepsoft</a>     
            <li>
              <a routerLink="/home" routerLinkActive="active" class="nav-link" (click)="isOpen=false">Home</a>
            </li>
      
            <li>
                <a routerLink="/projects" routerLinkActive="active" class="nav-link" (click)="isOpen=false">Projects</a>
            </li>
      
            <li>
              <a href="#" class="nav-link">Demos</a>
            </li>
      
            <li>
              <a routerLink="/opensource" routerLinkActive="active" class="nav-link" (click)="isOpen=false">Open Source</a>
            </li>
      
            <li>
              <a routerLink="contactus" routerLinkActive="active" class="nav-link" (click)="isOpen=false">Contact Us</a>
            </li>
        </ul>
  </section>        
  <router-outlet></router-outlet>
  <!-- to keep the footer at the bottom and not covering any elements on the page -->
  <div class="push"></div>
</div>

<app-footer></app-footer>