<section class="container-fluid pt-5 mb-2 bg-light">
    <div class="alert alert-success text-center" role="alert">
        <h4 class="alert-heading">Open Source Projects</h4>
      </div>
  <div class="row">
      <div class="col-md pt-1">
          <div class="card">
            <div class="card-header">
               Web
            </div>
            <div class="card-body">
              <h5 class="card-title">Website in Angular <img id="ngLogo"></h5>
              <p class="card-text">
                  This very webiste is available for free on Github with love :)
                  <a href="https://github.com/grepsoft/">Github</a>
              </p>              
            </div>
          </div>
      </div> 
  </div>
</section>

