<section class="hero">
    <div class="hero-inner">
      <h1>Bring Your Business To Life!</h1>
      <h2 class="mt-2">Custom Software Solutions for Mobile, Desktop, Cloud and more...</h2>
    </div>
  </section>
  
  <section class="intro container-fluid mt-2 bg-light">
      <div class="row">      
          <div class="logo col text-center">
              <img id="logo" alt="Grepsoft logo" title="Grepsoft">
          </div>                
      </div>
      <div class="row">
        <p>
            Grepsoft is a software development company in Toronto, Canada providing custom software solutions.
            Our staff and their abilities give us strength. We have experts in web, mobile, cloud and desktop,
            and they bring a lot of innovative and creative thought to our custom software products. Our positive work environment helps bring the best
            out of our staff, and we're proud of their achievements!
        </p>
      </div>
      <div class="row mt-2 services text-center">      
          <div class="col-sm-4">
            <img alt="mobile" id="mobile">
            <h2>Mobile</h2>
            <p>
                Mobile devices are everywhere. You might be viewing this very website on your mobile device.
                Your business will greatly benefit from a mobile app be it Android or Apple.
                We write custom mobile software for appointment booking, transporation, fleet management, barcode scanning, pickup and delivery, payment services
                and more. Contact us to learn more and we will be happy to sit down with you and go over the requirements for your own custom software solution.
            </p>
          </div>
          <div class="col-sm-4">
              <img alt="desktop" id="desktop">
              <h2>Desktop</h2>
              <p>
                  Desktop and kiosk software plays an important role in day to day life. We write custom software for self-serving kiosks that
                  can greatly improve your business image and give you an edge over competitors. Self-serving kiosk software can help your business
                  reduce cost as in customers performing self checkouts or placing orders.
                  Self serving kiosk software can also be used for appointment booking or order pickup. Do not hesitate to contact us to learn more and we will be happy to
                  sit down with you and go over the requirements.
              </p>
          </div>
          <div class="col-sm-4">
              <img alt="mobile" id="web">
              <h2>Web</h2>
              <p>
                  Every business needs some sort of a Content Management System or CMS. Depending on your needs we can write a custom
                  CMS software for your business. If you are looking for order tracking software,
                  employee management software, text messaging notification software, appointment management software then get in touch with us to learn more and we will be happy to
                  sit down with you and go over the requirements.
              </p>              
          </div>                       
        </div>    
    </section>